:root {
  --hero-text-color: #ffffff;
  --primary-text-color: rgba(117, 117, 117, 1);
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --header-bg-color: #ffffff;
  --primary-bg-color: #e5e5e5;
  --second-bg-color: #2f303a;
  --third-bg-color: #f5f4fa;
}

html {
  box-sizing: border-box;
}

body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

[class*='__container'] {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

[class*='__logo'] {
  display: block;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
}

/* HEADER */
.header {
  color: var(--header-bg-color);
}

.header__container {
  display: flex;
  align-items: center;
}

.logo__title {
  color: var(--title-text-color);
}

.header--lined {
  border-bottom: 1px solid #ececec;
}

/* .logo {
  display: block;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
} */

.button:hover,
.button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--accent-color);
  color: var(--header-bg-color);
}

.header-contacts {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.footer-contacts:hover,
.footer-contacts:focus,
.header-contacts:hover,
.header-contacts:focus {
  color: var(--accent-color);
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

h2 {
  font-weight: 700;
  color: var(--title-text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/* .container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
} */

.images-container {
  display: flex;
  flex-wrap: wrap;
}

.images-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.images-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.images-item:nth-child(3n) {
  margin-right: 0;
}

.images-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

/* Studia */

/* Main Info */

/* .main-info {
  display: flex;
  align-items: center;
} */

/* Site nav */
.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
  position: relative;
}

.current::after {
  position: absolute;
  content: '';
  bottom: -1px;

  display: block;
  border-radius: 2px;

  width: 100%;
  height: 4px;

  background: #2196f3;
}

/* Contacts-list */

.contacts-list {
  display: flex;
  margin-left: auto;
}

.contacts-list {
  color: var(--primary-text-color);
}

.contacts-list .item + .item {
  margin-left: 50px;
}

.contacts-list .header-contacts:hover,
.contacts-list .header-contacts:focus {
  color: var(--accent-color);
}

/* Hero */
.hero {
  background-color: var(--second-bg-color);
  text-align: center;
  padding: 200px 0;

  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  color: var(--hero-text-color);
  margin: 0 auto 30px;
}

/* .overlay {
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} */

/* Features */

.features-list .title,
.title {
  color: var(--title-text-color);
}

.features-thumb {
  display: flex;
  margin-bottom: 30px;
  height: 120px;
  background-color: var(--third-bg-color);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

.icon {
  margin-right: 10px;
  fill: currentColor;
}

.svg-main {
  width: 70px;
  height: 70px;
}

.features-list {
  display: flex;
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

.features-item {
  flex-basis: calc((100% - 90px) / 4);
}

.title {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.human {
  display: block;
}

.title-features {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.team-text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

/* Pictures */

.images-list {
  display: flex;
}

.picture-item {
  width: calc((100%-60) / 3);
}

.picture-item:not(:last-child) {
  margin-right: 30px;
}

.direction {
  display: flex;
  flex-direction: column;
}

.image-thumb {
  position: relative;
}

.box-1 {
  position: absolute;
  margin: 0 auto;

  bottom: 0;
  width: 370px;
  height: 70px;

  background: rgba(47, 48, 58, 0.8);
  color: var(--header-bg-color);
}

.box-2 {
  position: absolute;

  bottom: 0;
  width: 370px;
  height: 70px;

  background: rgba(47, 48, 58, 0.8);
  color: var(--header-bg-color);
}

.box-3 {
  position: absolute;

  bottom: 0;
  width: 370px;
  height: 70px;

  background: rgba(47, 48, 58, 0.8);
  color: var(--header-bg-color);
}

.thumb-title {
  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;

  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Section */

.skills {
  padding-top: 94px;
  padding-bottom: 94px;
}

.wedo {
  padding-bottom: 94px;
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}

.team-section {
  background-color: var(--third-bg-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Team */

.team-list {
  display: flex;
}

.teammate {
  width: calc((100% - 90px) / 4);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.teammate:not(:last-child) {
  margin-right: 30px;
}

.pictures-text {
  padding: 24px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
}

.team-soc-item {
  width: 44px;
  height: 44px;
  margin-left: 10px;
}

.team-soc-item:first-child {
  margin-left: 0;
}

.team-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-icon {
  fill: currentColor;
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--accent-color);
  color: var(--header-bg-color);
}

/* CLients */

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  color: #afb1b8;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    boder-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-logo {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.clients-link:hover {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* Studio-Button */

.button.primary {
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--hero-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.primary:hover {
  background: #188ce8;
}

/* Portfolio */

/* .portfolio-header {
  border-bottom: 1px solid #ececec;
} */

.portfolio-main {
  background-color: var(--header-bg-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button {
  display: inline-block;
  border: 0;
  font-family: inherit;
  color: var(--title-text-color);
  background-color: var(--third-bg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
  background-color: #2196f3;
}

.button-list .item + .item {
  margin-left: 8px;
}

.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.tech-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.tech-text {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* Footer */

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer-address {
  margin-right: 70px;
}

.studio-footer {
  color: var(--hero-text-color);
}

.footer {
  background-color: var(--second-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.location {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 9px;
  color: var(--header-bg-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.container > .logo-item {
  display: inline-block;
  margin-bottom: 20px;
}

.container > .logo {
  display: inline-block;
}

.location-item {
  margin-bottom: 9px;
}

.join-title {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-bg-color);
}

.socials {
  display: flex;
  margin-right: 93px;
}

.footer-socials {
  display: flex;
  align-items: baseline;
}

.socials .social-item + .social-item {
  margin-left: 10px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover {
  background-color: var(--accent-color);
  fill: var(--header-bg-color);
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: var(--hero-text-color);
}

/*------------Overlay---------- */

.img-thumb {
  position: relative;
  overflow: hidden;
}

.overlay-cover {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;

  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.images-item:hover .overlay-cover {
  transform: translateY(0);
}

.overlay-text {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
}

/*------------------ Модальнок Окно-------------------------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 40px;
  min-height: 581px;
  min-width: 528px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
  position: absolute;
  display: inline-flex;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  width: 30px;
  height: 30px;

  justify-content: center;
  align-items: center;
  cursor: pointer;

  background: var(--header-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.close-icon {
  width: 11px;
  height: 11px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover .close-icon,
.close-button:focus .close-icon {
  fill: var(--accent-color);
}

/*--------------------- Формы----------------------- */
.subscribe-label {
  display: inline-block;
  margin-right: 12px;
}

.subscribe-form {
  padding: 15px 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--header-bg-color);
  background-color: transparent;
}

.subscribe-form::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.submit-btn {
  display: inline-flex;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 28px;
  align-items: center;

  color: var(--header-bg-color);
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.telegram-icon {
  width: 24px;
  height: 24px;
  fill: var(--header-bg-color);
  margin-left: 10px;
}

textarea {
  resize: none;
}

.modal-form {
  height: 100%;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal-form-title {
  margin-bottom: 12px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form-field label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-field input {
  padding-left: 42px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.accept-link {
  color: var(--accent-color);
  position: relative;
}

.comment {
  padding: 12px 16px;

  height: 120px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.icon-form {
  position: absolute;
  left: 12px;
  bottom: 11px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus,
.comment:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.form-input:focus + .icon-form {
  fill: var(--accent-color);
}

.checkbox-label {
  position: relative;
  display: flex;

  align-items: center;
  justify-content: center;

  margin-top: 20px;
  margin-bottom: 30px;
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;

  border-radius: 2px;
  border: 2px solid var(--title-text-color);
}

.checkbox-form {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-text {
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  margin-left: 7px;
}

.checkbox-form:checked + .checkbox-icon {
  background-color: var(--accent-color);
  border-color: transparent;
  background-image: url(../images/cheeck.svg);
  background-size: contain;
  background-origin: border-box;
}

.modal-btn {
  display: flex;
  min-width: 200px;
  height: 50px;
  padding: 10px 56px;
  margin: 0 auto;

  font-weight: 700;
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--hero-text-color);
  background-color: var(--accent-color);

  border-radius: 4px;
  cursor: pointer;
  border: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
